
/*connectfour*/
a{
    position: absolute;
    top:6rem;
    font-size: 2rem;
    left: 50%;
    transform: translate(-50%);
    color: black;
}
a:hover{
    opacity: 0.7;
}

body {
    background-color: #dcdcdc;
}

.row-table {
  border-collapse: separate;
}

.container table tr td{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}

@media screen and (max-width: 600px){
    .container{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        width: 90%;
        height: 520px;
        top: 9rem;
        border: 2px solid black;
        padding: .5rem;
    
    }
    
}

body { 
  padding-bottom: 4em;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  height:4em;
}


/* Bootstrap ergänzungen*/
.rahmenLion {
  border: 4px solid #BA671C;
  border-radius: 30px;
}

.rahmenElephant {
  border: 4px solid #8BAB23;
  border-radius: 30px;
}

.rahmenGame {
border: 4px solid #000;
border-radius: 30px;
}

.rahmenNumber {
height: 50px;
border-radius:50%;
width: 50px;
border: 2px solid #000;
}

.btn-primary,  .btn-primary:active, .btn-primary:visited {
background-color: #BA671C !important;
border-color: #BA671C !important;
}

.btn-primary:hover {
  background-color: #BA671C99 !important;
}

.btn-secondary,  .btn-secondary:active, .btn-secondary:visited {
  color:#000 !important;
  background-color: #fff !important;
  border: 2px solid #BA671C !important;
}

.btn-secondary:hover {
  background-color: #BA671C33 !important;
}


.btn-player2, .btn-player2:active, .btn-player2:visited {
  color:#000 !important;
  background-color: #fff !important;
  border: 2px solid #8BAB23 !important;
}

.btn-player2:hover {
  background-color: #8BAB2333 !important;
}

.bg-green {
  background-color: #8BAB23;
}

.h-100px {
  height: 100px;
}


.ddl-none { /*drop down list entfernt den style, fügt den Pfeil hinzu*/
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; 
  background-image: url(../img/icon/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: 90%;
}

/* Design zeitanzeige*/
#zeitanzeige {
  font-size: 30px;
  margin-bottom: 25px;
  font-family: monospace;
  text-align:center;
}


/* Confetti*/

#my-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100000;
    visibility: hidden;
    pointer-events: none;
}
#my-canvas.active {
    visibility: visible; 
}